<header class="text-center">
  <h1>Open Vagas</h1>
  <p>Mural de vagas compartilhadas pela comunidade.</p>
</header>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <input type="" name="" placeholder="Carreira">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <input type="" name="" placeholder="Modalidade">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <input type="" name="" placeholder="Localidade">
      </div>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" style="margin-top: 31px;" type="submit">Pesquisar</button>
    </div>
  </div>
<% @positions.each do |position| %>
  <%= render position %>
<% end %>
<p class="d-block text-center mt-3">
  <div class="text-center">
    <%= "paginate " %>
  </div>
</p>
